# Niveau de sévérité à partir duquel les messages de log s'affichent
# Valeurs utiles : INFO ou SEVERE
LogLevel=INFO

# Choix d'interface, Graphique ou Textuelle
Interface=Graphique

# Animations
Animations=true
VitesseAnimations=0.15
LenteurPas=15

# IA
# Valeurs utiles : Aleatoire, ParcoursFixe ou Teleportations
IA=Aleatoire
LenteurJeuAutomatique=500